In [15]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.image as img
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

from scipy.stats import mode

import warnings
warnings.filterwarnings('ignore')

In [16]:
DATASET_PATH = '/Users/macbook/Documents/DataScience/Projects/project_data_from_kaggle/train.csv'
df = pd.read_csv(DATASET_PATH, sep=',')
df.head(5)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,11809,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,B,B,11,3097,0,NaN,0,0,B,305018.871089
1,3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,B,B,30,6207,1,1183.0,1,0,B,177734.553407
2,8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,B,B,33,5261,0,240.0,3,1,B,282078.720850
3,2352,1,1.0,40.409907,NaN,1.0,10,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,168106.007630
4,13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,B,B,33,8667,2,NaN,0,6,B,343995.102962

## EDA - сюда тоже

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.info(memory_usage = 'deep')

In [ ]:
plt.figure(figsize = (15,10))

sns.set(font_scale=1.4)

corr_matrix = df.corr()
corr_matrix = np.round(corr_matrix, 2)
corr_matrix[np.abs(corr_matrix) < 0.3] = 0

sns.heatmap(corr_matrix, annot=True, linewidths=.5, cmap='coolwarm')

plt.title('Correlation matrix')
plt.show()

In [ ]:
correlation = df.corrwith(df['Price']).sort_values(ascending=False)
correlation.drop('Price', inplace=True)

plt.figure(figsize = (16, 8))
plt.bar(correlation.index, correlation)
plt.xticks(rotation='90')
plt.xlabel('Features', fontsize=15)
plt.ylabel('Correlation', fontsize=15)
plt.title('Feature correlation', fontsize=15)
plt.show()

## Обработка пропусков

In [ ]:
# смотрим nan, -

In [ ]:
df.isna().sum()

In [ ]:
df['LifeSquare_nan'] = 0
df['Healthcare_1_nan'] = 0
df.loc[df['LifeSquare'].isna(), 'LifeSquare_nan'] = 1
df.loc[df['Healthcare_1'].isna(), 'Healthcare_1_nan'] = 1
df

In [17]:
s = df.groupby('DistrictId')['Healthcare_1'].mean()

#s = s.to_dict()

df.loc[df['Healthcare_1'].isna(), 'Healthcare_1'] = df['DistrictId'].map(s)
df['Healthcare_1'].fillna(df['Healthcare_1'].median(), inplace=True)
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1        0
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [18]:
condition = (df['LifeSquare'].isna()) & (~df['Square'].isna()) & (~df['KitchenSquare'].isna())
        
df.loc[condition, 'LifeSquare'] = df.loc[condition, 'Square'] - df.loc[condition, 'KitchenSquare'] - 3

In [19]:
df.isna().sum()

Id               0
DistrictId       0
Rooms            0
Square           0
LifeSquare       0
KitchenSquare    0
Floor            0
HouseFloor       0
HouseYear        0
Ecology_1        0
Ecology_2        0
Ecology_3        0
Social_1         0
Social_2         0
Social_3         0
Healthcare_1     0
Helthcare_2      0
Shops_1          0
Shops_2          0
Price            0
dtype: int64

In [22]:
df.median()

Id                 8394.500000
DistrictId           36.000000
Rooms                 2.000000
Square               52.513310
LifeSquare           36.243310
KitchenSquare         6.000000
Floor                 7.000000
HouseFloor           13.000000
HouseYear          1977.000000
Ecology_1             0.075424
Social_1             25.000000
Social_2           5285.000000
Social_3              2.000000
Healthcare_1        770.000000
Helthcare_2           1.000000
Shops_1               3.000000
Price            192269.644879
dtype: float64

In [ ]:
(df['DistrictId'] == '-').sum()

In [ ]:
(df['Ecology_2'] == '-').sum()

In [ ]:
(df['Ecology_3'] == '-').sum()

In [ ]:
(df['Shops_2'] == '-').sum()

# Обработка выбросов

In [23]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,41.165574,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,996.128566,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,77.693206,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,920.665518,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,-0.140758,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,25.355889,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,240.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,36.243310,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,770.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,49.122175,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1322.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

#### Rooms

In [ ]:
# Выбросы заменяем на количесвто комнат относительно общей площади квартиры

In [ ]:
df['Rooms_outlier'] = 0
df.loc[(df['Rooms'] == 0) | (df['Rooms'] > 6), 'Rooms_outlier'] = 1
df

In [24]:
df.loc[(df['Rooms'] == 0) | (df['Rooms'] == 19) | (df['Rooms'] == 10) | \
       (df['Rooms'] == 6) | (df['Rooms'] == 5)].sort_values(by='Rooms')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
9869,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,770.000000,0,0,B,126596.941798
7929,456,6,0.0,81.491446,78.491446,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,540.000000,0,0,B,212864.799112
2194,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,770.000000,3,9,B,158998.110646
7644,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,770.000000,0,1,B,302211.260887
6401,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,770.000000,0,1,B,219281.918007
3780,7317,27,0.0,41.790881,38.790881,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,770.000000,0,1,B,98129.976788
5894,770,28,0.0,49.483501,46.483501,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1183.000000,1,0,B,217009.338463
9767,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,770.000000,0,0,B,268394.744389
9641,14143,13,5.0,119.008007,69.033727,11.0,13,17.0,2001,0.090799,B,B,74,19083,2,1406.000000,5,15,B,434774.356335
9515,4214,105,5.0,85.313605,56.686693,5.0,4,12.0,1967,0.040243,B,B,25,3478,11,2729.000000,3,1,B,461678.738428
9415,4282,195,5.0,95.617533,62.377052,7.0,7,7.0,1940,0.015017,B,B,17,3079,59,2890.000000,0,8,B,479525.147323
9307,4249,23,5.0,198.930182,123.139863,10.0,1,2.0,2011,0.014073,B,B,2,475,0,0.000000,0,0,B,345665.209100
8532,2879,78,5.0,118.871952,69.023509,10.0,15,16.0,1998,0.092291,B,B,21,4346,2,165.000000,1,2,B,496026.671162
7975,7594,53,5.0,39.906082,39.394024,1.0,5,1.0,1977,0.049637,B,B,34,7759,0,229.000000,1,3,B,206148.845716
6290,4070,21,5.0,114.313752,88.492650,9.0,6,5.0,1960,0.034331,B,B,25,5487,3,247.557692,0,4,B,499830.937577
403,13434,13,5.0,183.382273,100.985505,15.0,2,6.0,1997,0.090799,B,B,74,19083,2,1406.000000,5,15,B,622888.825328
2799,6358,27,5.0,42.003293,39.003293,0.0,5,12.0,1977,0.011654,B,B,4,915,0,770.000000,0,0,B,112693.641769
2516,338,46,5.0,147.709302,144.709302,0.0,6,0.0,1977,0.150818,B,B,16,3433,4,2643.000000,4,5,B,352168.955975
1909,238,88,5.0,90.762276,70.991790,5.0,1,9.0,1972,0.127376,B,B,43,8429,3,770.000000,3,9,B,289683.939174
1906,5548,86,5.0,275.645284,233.949309,26.0,12,37.0,2011,0.161976,B,A,31,7010,5,4508.000000,3,7,B,455264.882666
1459,8901,34,5.0,121.577423,114.913843,1.0,25,1.0,1977,0.069753,B,B,53,13670,4,770.000000,1,11,B,455446.393758
940,4971,169,5.0,117.855969,76.561318,9.0,12,14.0,2001,0.178917,B,B,18,3594,4,192.000000,1,5,B,608674.130507
511,8685,62,5.0,124.933289,81.122369,30.0,5,3.0,2017,0.072158,B,B,2,629,1,2300.000000,0,0,A,271919.866048
505,3454,8,5.0,112.135525,79.795451,10.0,4,17.0,1999,0.437885,B,B,23,5735,3,1084.000000,0,5,B,471833.787538
5665,1243,86,5.0,108.057398,82.723825,8.0,3,5.0,1942,0.161976,B,A,31,7010,5,4508.000000,3,7,B,310305.074733
5737,3294,167,5.0,111.045799,81.940459,9.0,6,6.0,1940,0.050272,B,B,21,4231,14,1020.000000,0,3,B,513239.499082
8794,14003,99,6.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,1322.000000,3,8,B,229661.964416
2728,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,30.000000,2,4,B,172329.270863
2004,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,1288.272727,5,15,B,317265.323792
6088,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,228.771930,0,1,B,78364.616704

In [25]:
df.loc[(df['Rooms'] == 0) & (df['Square'] < 50), 'Rooms'] = 1
df.loc[(df['Rooms'] == 0) & (df['Square'] > 50) & (df['Square'] < 100), 'Rooms'] = 3
df.loc[(df['Rooms'] == 0) & (df['Square'] > 100), 'Rooms'] = 5
df.loc[df['Rooms'] == 19, 'Rooms'] = 1
df.loc[df['Rooms'] == 10, 'Rooms'] = 2
df.loc[(df['Rooms'] == 5) & (df['Square'] < 50), 'Rooms'] = 1
df.loc[(df['Rooms'] == 6), 'Rooms'] = 2
df['Rooms'].value_counts()

2.0    3883
1.0    3712
3.0    2237
4.0     150
5.0      18
Name: Rooms, dtype: int64

#### LifeSquare, Square, KitchenSquare

### выбросы по площадям выглядят так, будто поставили запятую не там, соответственно будем в основном умножать и делить на 10.
### Хотя возможно было бы правильнее воспользоваться формулой Square=LifeSquare+KitchenSquare+3

In [ ]:
df.loc[df['LifeSquare'] <= 0]

In [ ]:
df.loc[df['LifeSquare'] <= 0, 'LifeSquare'] = df.loc[682, 'KitchenSquare']
df.loc[682, 'KitchenSquare'] = 0

In [ ]:
df.loc[682]

In [ ]:
df.loc[df['Square'] < 10, 'Square'] = (df.loc[df['Square'] < 10, 'Square']) * 10
df.loc[[161, 328, 1401]]

In [ ]:
df.loc[df['LifeSquare'] < 10]

In [ ]:
df.loc[df['LifeSquare'] < 10, 'LifeSquare'] = (df.loc[df['LifeSquare'] < 10, 'LifeSquare']) * 10
df.loc[[26, 119, 161]]

In [ ]:
df.loc[df['Square'] > 400]

In [ ]:
df.loc[df['LifeSquare'] > 200]

In [ ]:
df.loc[df['Square'] > 400, 'Square'] = (df.loc[df['Square'] > 400, 'Square'])/10
df.loc[df['LifeSquare'] > 250, 'LifeSquare'] = (df.loc[df['LifeSquare'] > 250, 'LifeSquare'])/10
df.loc[[726, 7010, 9229]]

In [ ]:
df.loc[8000, 'LifeSquare'] = (df.loc[8000, 'LifeSquare']) / 10
df.loc[8000]

In [ ]:
(df['LifeSquare'] > df['Square']).sum()

In [ ]:
df.loc[df['LifeSquare'] > df['Square'], 'LifeSquare'] = (df.loc[df['LifeSquare'] > df['Square'], 'Square']) - 3

In [ ]:
df.loc[df['KitchenSquare'] < 5, 'KitchenSquare'] = 5
df.loc[df['KitchenSquare'] > 50, 'KitchenSquare'] = df['KitchenSquare'].median()
df.loc[df['KitchenSquare'] > df['Square'], 'KitchenSquare'] = df['KitchenSquare'].median()
df.describe()

#### HouseFloor, Floor

In [ ]:
(df['HouseFloor'] == 0).sum()

In [ ]:
df['HouseFloor_outlier'] = 0
df.loc[(df['HouseFloor'] == 0) | (df['Floor'] > df['HouseFloor']), 'HouseFloor_outlier'] = 1
df

In [ ]:
df.loc[df['HouseFloor'] == 0]

In [ ]:
df.loc[df['HouseFloor'] == 0, 'HouseFloor'] = (df.loc[df['HouseFloor'] == 0, 'Floor']) * 2
(df['HouseFloor'] == 0).sum()

In [ ]:
(df['Floor'] > df['HouseFloor']).sum()

In [ ]:
df.loc[df['Floor'] > df['HouseFloor'], 'Floor'] = df.loc[df['Floor'] > df['HouseFloor'], 'HouseFloor']
(df['Floor'] > df['HouseFloor']).sum()

In [ ]:
df.describe()

#### HouseYear

In [ ]:
df.loc[df['HouseYear'] > 2020]

In [ ]:
df.loc[df['HouseYear'] < 1920]

In [ ]:
df.loc[df['HouseYear'] > 2020, 'HouseYear'] = 2020

In [ ]:
df.describe()

In [ ]:
# Работа с категориальными признаками 
df.replace({'Ecology_2': {'A': 0, 'B': 1}}, inplace=True)
df.replace({'Ecology_3': {'A': 0, 'B': 1}}, inplace=True)
df.replace({'Shops_2': {'A': 0, 'B': 1}}, inplace=True)

## Новые фичи

In [ ]:
df

#### Средняя цена за квадратный метр по районам

In [ ]:
price_per_square = df.groupby(['DistrictId'])['Price'].agg('median')/df.groupby(['DistrictId'])['Square'].agg('median')
df['DistrictPrice'] = df['DistrictId'].map(price_per_square)
df

#### Категории по возрасту домов

In [ ]:
df['age_binary_cat'] = 0
df.loc[df['HouseYear'] <= 2000, 'age_binary_cat'] = 1 
df

In [ ]:
df.drop(columns='Id', inplace=True)

## EDA - Exploratory Data Analysis

In [ ]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.image as img
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [ ]:
matplotlib.rcParams.update({'font.size': 14})  # размер шрифта на графиках

In [ ]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [ ]:
df = reduce_mem_usage(df)

In [ ]:
df.dtypes

In [ ]:
plt.figure(figsize = (30, 8))

plt.subplot(121)
df['Price'].hist(density=False, bins=20)
plt.ylabel('count')
plt.xlabel('Price')

plt.subplot(122)
sns.kdeplot(df['Price'], shade=True, legend=False)
plt.xlabel('Price')

plt.suptitle('Distribution of price')
plt.show()

In [ ]:
plt.figure(figsize = (15,10))

sns.set(font_scale=1.4)

corr_matrix = df.corr()
corr_matrix = np.round(corr_matrix, 2)
corr_matrix[np.abs(corr_matrix) < 0.3] = 0

sns.heatmap(corr_matrix, annot=True, linewidths=.5, cmap='coolwarm')

plt.title('Correlation matrix')
plt.show()

In [ ]:
correlation = df.corrwith(df['Price']).sort_values(ascending=False)
correlation.drop('Price', inplace=True)

plt.figure(figsize = (16, 8))
plt.bar(correlation.index, correlation)
plt.xticks(rotation='90')
plt.xlabel('Features', fontsize=15)
plt.ylabel('Correlation', fontsize=15)
plt.title('Feature correlation', fontsize=15)
plt.show()

In [ ]:
df.describe()

In [ ]:
plt.figure(figsize=(6, 3))

sns.boxplot(df['Square'], whis=1.5)

plt.xlabel('Square')
plt.show()

In [ ]:
plt.figure(figsize=(6, 3))

sns.boxplot(df['KitchenSquare'], whis=1.5)

plt.xlabel('KitchenSquare')
plt.show()

In [ ]:
plt.figure(figsize=(6, 3))

sns.boxplot(df['Healthcare_1'], whis=1.5)

plt.xlabel('Healthcare_1')
plt.show()

In [ ]:
df.info()

In [ ]:
df_num_features = df.select_dtypes(include=['float32', 'int8', 'int16'])
df_num_features.drop(['Price', 'LifeSquare_nan', 'Healthcare_1_nan', 'Rooms_outlier', 'HouseFloor_outlier'], axis=1, inplace=True)
df_num_features

In [ ]:
df_num_features.hist(figsize=(16,16), bins=20, grid=False)

In [ ]:
grid = sns.jointplot(df['Square'], df['Price'], kind='reg')
grid.fig.set_figwidth(8)
grid.fig.set_figheight(8)

plt.show()

In [ ]:
grid = sns.jointplot(df['LifeSquare'], df['Price'], kind='reg')
grid.fig.set_figwidth(8)
grid.fig.set_figheight(8)

plt.show()

In [ ]:
df